<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anjbo.dao.huarong.KgAppointMapper" >
<select id="getKgAppoint" parameterType="String" resultType="map">  
         select * from  tbl_third_hr_kg_appoint  where  orderNo=#{orderNo} order by id DESC limit 0,1
    </select>
	<!-- 快鸽提单信息,业务信息 -->
	<insert id="saveKgAppoint" parameterType="Map">
		INSERT INTO tbl_third_hr_kg_appoint (
			applSeq,
			orderNo,
			businessType,
			custName,
			loanAmount,
			term,
			rate,
					
			overdueTate,
			yOriLenAmount,
			yLoanBalance,
			yIsBank,
			yOriBank,
			xLoanAmount,
			
			
			xIsBank,
			xLoanBank,
			fAccountType,
			fOpenBank,
			fOpenName,
			fAccountNum,
				
			
			fCaacNo,
			hAccountType,
			hOpenBank,
			hOpenName,
			hAccountNum,
			hCaacNo
			
		)
		VALUES
		(
			#{applSeq},
			#{orderNo},
			#{businessType},
			#{custName},
			#{loanAmount},
			#{term},
			#{rate},
			
			#{overdueTate},
			#{yOriLenAmount},
			#{yLoanBalance},
			#{yIsBank},
			#{yOriBank},
			#{xLoanAmount},
			
			#{xIsBank},
			#{xLoanBank},
			#{fAccountType},
			#{fOpenBank},
			#{fOpenName},
			#{fAccountNum},
			
			#{fCaacNo},
			#{hAccountType},
			#{hOpenBank},
			#{hOpenName},
			#{hAccountNum},
			#{hCaacNo}	
		)
	</insert>
	
</mapper>