<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anjbo.dao.huarong.KgHouseMapper" >
 <select id="getKgHouse" parameterType="String" resultType="map">  
         select * from  tbl_third_hr_kg_house  where  orderNo=#{orderNo} order by id DESC limit 0,1
    </select>  

	<!-- 添加房产信息 -->
	<insert id="saveKgHouse" parameterType="Map">
		INSERT INTO tbl_third_hr_kg_house (
			applSeq,
			orderNo,
			owner,
			houseAddress,
			builtArea,		
			houseNo,
			totalAssessment,
			worthAssessment,
			firstHouseLoan,
			consult,
			respStatus,
			remark
		)
		VALUES
		(
			#{applSeq},
			#{orderNo},
			#{owner},
			#{houseAddress},
			#{builtArea},
			#{houseNo},			
			#{totalAssessment},
			#{worthAssessment},
			#{firstHouseLoan},
			#{consult},
			#{respStatus},
			#{remark}
		)
	</insert>
	
</mapper>