<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />

		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" />

		<meta http-equiv="expires" content="0">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="cache-control" content="no-store">

		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<title>借要件审批</title>
		<link rel="stylesheet" href="../other/aui/css/aui.2.0.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/lCalendar.css" />
		<style>
			input::-webkit-input-placeholder,.plac {
			  color:#aaa; 
			}
			.dis .color_999{color:#DCDCDC;}
			div#docDetailController  div.cell.dis>span{
	width:1rem;
	height: 1rem;
	border-radius:50%;
	border:.05rem solid #DCDCDC;
	background:transparent;
}
div#docDetailController  div.cell.dis>span:before{
	position: absolute;
	width:.6rem;
	height:.6rem;
	content:'';
	background:#DCDCDC;
	border-radius: 50%;
	top:.15rem;
	left:.15rem;
}
b.status{ 
	display: inline-block !important; 
	position:absolute !important; 
	right:10px !important; 
	color:#0cbbd3;
	font-size:0.7rem;
	font-weight:normal;
}
b.status b{color:red;font-weight:normal;}
		</style>
	 
	</head>

	<body>
		<div id="docDetailController" style="position: static;">
			<!--头部-->
			<div class="headerPart">
				<font class="fl">客户名字</font>
				<font class="fr" id="customerName"></font>
				<div class="clear"></div>
			</div>

			<!--内容部分  1-->
			<div class="contentPart" id="riskElements">
				<!-- 风控要件 -->
			</div>

			<!--2-->
			<div class="contentPart" id="receivableElements">
				<!-- 回款要件 -->
			</div>

			<!--3-->
			<div class="contentPart">
				<div id="extentime">请选择要件借用时间</div>

				<div class="cell">
					<div style="margin-left: .75rem;border: 0;position: relative;">
						<p>
							<font class="color_999">开始时间</font>
						</p>
						<div style="width: 7rem;position: absolute;right: 0;top: 0;">
							<input id="startTime" type="text" placeholder="请选择开始时间" style="font-size: .7rem;" />
							<i class="aui-iconfont aui-icon-right" style="position: absolute;right: 0;top: .6rem;"></i>
						</div>

					</div>
				</div>

				<div class="cell">
					<div style="margin-left: .75rem;border: 0;position: relative;">
						<p>
							<font class="color_999">结束时间</font>
						</p>
						<div style="width: 7rem;position: absolute;right: 0;top: 0;">
							<input id="endTime" type="text" placeholder="请选择结束时间" style="font-size: .7rem;" />
							<i class="aui-iconfont aui-icon-right" style="position: absolute;right: 0;top: .6rem;"></i>
						</div>
					</div>
				</div>

				<div class="cell">
					<div style="margin-left: .75rem;border: 0;">
						<p>
							<font class="color_999">借用时长</font>
							<font class="fr color_999" id="day">根据选择的借用时间自动计算</font>
						</p>
					</div>
				</div>
			</div>

			<!--4-->
			<div class="contentPart">
				<div id="extenreson">提取要件的原因</div>
					
				<div class="cell">
					<div style="border: 0;margin: 0;" id="textRea">
						<textarea style="overflow:auto;min-height:6rem;" id="reason" placeholder="请输入要件借用原因"  ></textarea>
					</div>
				</div>
			</div>

			<!--5-->
			<div class="contentPart" id="sprhere">
				<div>审批人</div>

				<div class="cell text_center">
					<div style="border: 0;margin: 0;">
						<div class="aui-row" id="auditors">
							<!-- 审批人 -->
						</div>
					</div>
				</div>
			</div>

			<!--6-->
			<div class="contentPart">
				<div>抄送人</div>

				<div class="cell text_center">
					<div style="border: 0;margin: 0;">
						<div class="aui-row" id="copyUsers">
							<!-- 抄送人 -->
						</div>
					</div>
				</div>
			</div>

			<div class="btnContainer">
				<button id="submitBtn" class="color_fff">提交审批</button>
			</div>
		</div>
		<div class="loadingPart" id="loadingPart"  ><div style="background:none"><img src="../img/loading-1.gif" alt="" /></div></div>
		<img src="../img/choice.png" style="display:none;">
	</body>
	<script src="../other/js/jquery.min.js"></script>
	<script src="../js/lCalendar.min.js"></script>
	<script src="../js/common.js?1.0"></script>
	<script src="../js/borrow_doc_detail.js?1.1"></script>
	
</html>