<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a ui-sref="fundList">资金方列表</a> <span class="divider"></span>
				</li>
				<li class="active">
					<span ng-bind="fundName"></span>
				</li>
			</ul>
		</div>
	</div>

	<!--row-->
	<div class="row">
		<div class="col-md-12"> 
		    <form class="form-inline" style="margin-left:30px;">
				<button type="button" class="btn btn-primary fr" ui-sref="fundCostEdit({'prductId':'-1','fundId':fundId,'fundName':'{{fundName}}','fundCostId':'-1'})" style=" margin-right:10px;  margin-bottom: 10px;">添加资金成本</button>
			</form>
		</div>
	</div>
	<!--row-->

	<div class="row">
		<div class="col-md-12">
			<!--table-->
			<table bs-table-control="fundCostList" id="table"></table>
			<!--table end-->
	    </div>
	</div>
</div>

 