<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anjbo.dao.FinanceLogMapper" >
    
  <select id="findByAll" parameterType="FinanceLogDto" resultType="FinanceLogDto">
      select id,beanColumn,orderNo,colName,startVal,endVal from tbl_finance_log where orderNo=#{orderNo} and type=#{type} order by createTime asc
  </select>
  
  <delete id="delete" parameterType="FinanceLogDto">
      delete  from tbl_finance_log where  orderNo=#{orderNo}  and type=#{type}
  </delete>	
  
  <insert id="insert" parameterType="FinanceLogDto">
      INSERT INTO `tbl_finance_log` (
         `createUid`, `createTime`, `updateUid`, `updateTime`, `beanColumn`, `orderNo`, `colName`, `startVal`, `endVal`, `type`
      ) VALUES (
         #{createUid}, now(), #{updateUid}, now(), #{beanColumn}, #{orderNo}, #{colName}, #{startVal}, #{endVal}, #{type}
      );
  </insert>
  	
</mapper>