<div class="container-fluid">
	
	<place-order-detail></place-order-detail>

	<div id="viewRow">
		
	</div>

	<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;收罚息信息</div>
	<div class="row detail-row form-inline" >
		
<!-- 		<div class="col-md-6 col-lg-6"> -->
<!-- 			<label>回款结果：</label> -->
<!-- 			<span ng-if="obj.type==0">准时回款</span><span ng-if="obj.type==1">提前回款</span><span ng-if="obj.type==2">逾期回款</span> -->
<!-- 		</div> -->
<!-- 		<div ng-if="obj.type==1"> -->
<!-- 			<div class="col-md-6 col-lg-6"> -->
<!-- 				<label>是否退费：</label> -->
<!-- 				<span ng-if="obj.refund==1">是</span><span ng-if="obj.refund==0">否</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-6 col-lg-6" ng-if="obj.refund==1"> -->
<!-- 				<label>退费金额：</label> -->
<!-- 				<span ng-bind="obj.penaltyPayable"></span> 元 -->
<!-- 			</div> -->
<!-- 			<div class="col-md-6 col-lg-6"> -->
<!-- 				<label>退费时间：</label> -->
<!-- 				<input  size="16" type="text" readonly  ng-model="obj.payTime"  class="form-control form_dateu"> -->
<!-- 				<a href="#"><span data-fancybox="iframe" data-src="/plugins/uploadify/upload_image.html?returnFun=returnDatafinance" data-type="iframe" >点此上传截屏照片（可不传）</span></a> -->
<!-- 				<input type="hidden" id="img" > -->
<!-- 				  <span class="gallerys processuUpdImg" style="display:none"> -->
<!-- 				       <a href="#" class="processuView-pic">查看图片</a> -->
<!-- 				       <img ng-repeat="img in obj.imgs" ng-src="{{img}}"  class='gallery-pic' style='display:none;'> -->
<!-- 				  </span> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		<div>
			<div class="col-md-6 col-lg-4">
						<label>逾期费率：</label>
						<input  size="16" type="text"  ng-model="overdueRate"  class="form-control" maxlength="11" onkeyup="value=value.replace(/[^\d.]/g,'')">%/天
			</div>	
			<div class="col-md-6 col-lg-4">
					<label>逾期天数：</label>
					<input  size="16" type="text"  ng-model="overdueDay"  class="form-control" maxlength="11" onkeyup="value=value.replace(/[^\d.]/g,'')">天
			</div>		
			<div class="col-md-6 col-lg-4">
				<label>应收罚息：</label>
				<input  size="16" type="text"  ng-model="obj.penaltyReal" class="form-control" maxlength="11" onkeyup="value=value.replace(/[^\d.]/g,'')">元
			</div>
			<div class="col-md-6 col-lg-4">
				<label>收罚息时间：</label>
				<input  size="16" type="text" readonly  ng-model="obj.payTime"  class="form-control form_dateu">
				<a href="#"><span data-fancybox="iframe" data-src="/plugins/uploadify/upload_image.html?returnFun=returnDatafinance" data-type="iframe" >点此上传截屏照片（可不传）</span></a>
			   <input type="hidden" id="img" >
			  <span class="gallerys processuUpdImg" style="display:none">
			       <a href="#" class="processuView-pic">查看图片</a>
			       <img ng-repeat="img in obj.imgs" ng-src="{{img}}"  class='gallery-pic' style='display:none;'>
			  </span>
			</div>
			<div class="col-md-6 col-lg-4">
				<label>实收罚息：</label>
				<input  size="16" type="text"  ng-model="obj.penaltyPayable" class="form-control" maxlength="11" onkeyup="value=value.replace(/[^\d.]/g,'')">元
			</div>
			<div class="col-md-6 col-lg-4">
				<label>返佣金额：</label>
				<input  size="16" type="text"  ng-model="obj.rebateMoney" readonly="readonly"  class="form-control" maxlength="11" onkeyup="value=value.replace(/[^\d.]/g,'')">元
			</div>

		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<textarea class="form-control" ng-model="obj.remark" rows="5" placeholder="如有特殊说明，请在此处备注（非必填）"/>
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-primary"  ng-click="submit()">提交</button>
		</div>
	</div>
</div>
<script>
function delZijinPic(a){ 
  $(".processuUpdImg").find("img").each(function(){ 
      if($(this).attr("src")==a){
       $(this).remove();
    }
   })
   var returnPic="";
   $(".processuUpdImg").find("img").each(function(){
        returnPic+=returnPic+$(this).attr("src")+",";
   })
   $("#img").val(returnPic.substring(0,returnPic.length-1)); 
   var img=$("#img").val();
   if(img==''){
	   $(".processuUpdImg").hide() 
   }
}
$(".processuView-pic2").click(function(){
    $.openPhotoGallery($(this).next("img"),"delZijinPic3");
})
function returnDatafinance(url,smallUrl,name){
	var img=$("#img").val();
	if(url!=''){
		 url=url.substring(0,url.length-1);
		 var urls= new Array();
		 var urls=url.split(",");	
		 var h="";
		 for (var i=0;i<urls.length ;i++ )  { 
			 h+="<img src='"+urls[i]+"' class='gallery-pic' style='display:none;'>";
		 }   
		 $(".processuUpdImg").append(h);
		 if(img!=''){
			 url=img+","+url;
		 }
		 $("#img").val(url); 
		 $(".processuUpdImg").show();
	}
	$(".processuView-pic").click(function(){
	    $.openPhotoGallery($(this).next("img"),"delZijinPic");
	})
}
	
</script>