<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anjbo.dao.huarong.LcApplApptMapper" >
<select id="getLcApplAppt" parameterType="String" resultType="map">  
         select * from  tbl_third_hr_lc_appl_appt  where  orderNo=#{orderNo} order by id DESC limit 0,1
    </select>
	<!-- 添加订单共同担保人信息 -->
	<insert id="saveLcApplAppt" parameterType="Map">
		INSERT INTO tbl_third_hr_lc_appl_appt  (
			applSeq,
			orderNo,
			idNo,
			idType,
			custName	
		)
		VALUES
		(
			#{applSeq},
			#{orderNo},
			#{idNo},
			#{idType},
			#{custName}		
		)
	</insert>
	
</mapper>