<form name="huarongKgIndivForm" ng-if="fundId==31">
    <div class="col-md-12 detail-right-tit">&nbsp;&nbsp;借款人信息</div>
    <div class="row form-inline detail-row" style="padding:0 10px;">
        <div class="col-md-6 col-lg-4">
            <label>借款人姓名: </label>
            <span ng-bind="kgIndiv.custName"></span>
        </div>
        <div class="col-md-6 col-lg-4">
            <label>证件类型:</label>
            <span ng-bind="kgIndiv.docType"></span>
        </div>
        <div class="col-md-6 col-lg-4">
            <label>证件号码:</label>
            <span ng-bind="kgIndiv.docNo"></span>
        </div>
        <div class="col-md-6 col-lg-4">
            <label>手机号:</label>
            <span ng-bind="kgIndiv.mobile"></span>
        </div>
        <div class="col-md-6 col-lg-4">
            <label>婚姻状况:</label>
            <span ng-bind="kgIndiv.marStatus"></span>
        </div>
        <div class="col-md-6 col-lg-4"
             ng-if="kgIndiv.marStatus=='已婚无子女'
             ||kgIndiv.marStatus=='已婚有子女'
             ||kgIndiv.marStatus=='复婚'">
            <label>配偶姓名:</label>
            <span ng-bind="kgIndiv.sCustName"></span>
        </div>
        <div class="col-md-6 col-lg-4"
             ng-if="kgIndiv.marStatus=='已婚无子女'
             ||kgIndiv.marStatus=='已婚有子女'
             ||kgIndiv.marStatus=='复婚'">
            <label>配偶证件类型:</label>
            <span ng-bind="kgIndiv.sDocType"></span>
        </div>
        <div class="col-md-6 col-lg-4"
             ng-if="kgIndiv.marStatus=='已婚无子女'
             ||kgIndiv.marStatus=='已婚有子女'
             ||kgIndiv.marStatus=='复婚'">
            <label>配偶证件号码:</label>
            <span ng-bind="kgIndiv.sDocNo"></span>
        </div>
        <div class="col-md-6 col-lg-4"
             ng-if="kgIndiv.marStatus=='已婚无子女'
             ||kgIndiv.marStatus=='已婚有子女'
             ||kgIndiv.marStatus=='复婚'">
            <label>配偶手机号:</label>
            <span ng-bind="kgIndiv.sMobile"></span>
        </div>
        <div class="col-md-6 col-lg-4"
             ng-if="kgIndiv.marStatus=='已婚无子女'
             ||kgIndiv.marStatus=='已婚有子女'
             ||kgIndiv.marStatus=='复婚'">
            <label>配偶婚姻状况:</label>
            <span ng-bind="kgIndiv.sMarStatus"></span>
    </div>
</div>


<div>
    <div class="col-md-12 detail-right-tit">&nbsp;&nbsp;征信信息</div>
    <div class="row form-inline detail-row w154" style="padding:0 10px;">
        <div class="col-md-6 col-lg-4">
            <label>信用卡年限: </label>
            <span ng-bind="kgIndiv.cardLife"></span>
        </div>
        <div class="col-md-6 col-lg-4">
            <label>所有房产评估总值: </label>
            <span ng-bind="kgIndiv.totalPremises"></span>万元
        </div>
        <div class="col-md-6 col-lg-4">
            <label>授信总额: </label>
            <span ng-bind="kgIndiv.totalCredit"></span> 万元
        </div>
        <div class="col-md-6 col-lg-4">
            <label>负债比例: </label>
            <span ng-bind="kgIndiv.debtRatio"></span>%
        </div>
        <div class="col-md-6 col-lg-4">
            <label>近两年征信报告逾期: </label>
            <span ng-bind="kgIndiv.overdueCredit"></span>次
        </div>
        <div class="col-md-6 col-lg-4">
            <label>原贷款是否银行:</label>
            <span ng-bind="kgIndiv.yIsBank"></span>
        </div>
        <div class="col-md-6 col-lg-4">
            <label>个人贷款记录年限: </label>
            <span ng-bind="kgIndiv.loanYear"></span>
        </div>
        <div class="col-md-6 col-lg-4">
            <label>房产套数: </label>
            <span ng-bind="kgIndiv.houseNum"></span>套
        </div>
        <div class="col-md-6 col-lg-4">
            <label>已用额度: </label>
            <span ng-bind="kgIndiv.quotaUsed"></span> 万元
        </div>
        <div class="col-md-6 col-lg-4">
            <label>借款成数: </label>
            <span ng-bind="kgIndiv.loanAmount"></span>%
        </div>
        <div class="col-md-6 col-lg-4">
            <label>近半年征信查询次数: </label>
            <span ng-bind="kgIndiv.creditFindNum"></span>次
        </div>
        <div class="col-md-6 col-lg-4">
            <label>新贷款是否银行:</label>
            <span ng-bind="kgIndiv.xIsBank"></span>
        </div>

        <div class="col-md-6 col-lg-4">
            <label>信用卡半年月均透支额: </label>
            <span ng-bind="kgIndiv.overdraft"></span>万元
        </div>
        <div class="col-md-6 col-lg-4">
            <label>征信总负债: </label>
            <span ng-bind="kgIndiv.totalCreditLia"></span> 万元
        </div>
        <div class="col-md-6 col-lg-4">
            <label>债务置换贷款成数: </label>
            <span ng-bind="kgIndiv.foreclosureRate"></span>%
        </div>
        <div class="col-md-6 col-lg-4">
            <label>是否公司产权:</label>
            <span ng-bind="kgIndiv.companyRight"></span>
        </div>
        <div class="col-md-6 col-lg-4">
            <label>产权抵押情况:</label>
            <span ng-bind="kgIndiv.rightMortgage"></span>
        </div>
        <div class="col-md-12 col-lg-12">
            <label style="width:309px;">个人贷款，信用卡累计有效违约率: </label>
            <span ng-bind="kgIndiv.defaultRate"></span>
        </div>
    </div>
</div>

<div>
    <div class="col-md-12 detail-right-tit">&nbsp;&nbsp;</div>
    <div class="clear" style="width:100%; height:1px; clear:both;"></div>
    <!-- <div class="row form-inline relative  detail-row" style="padding:0 10px;">
        <span class="remark-span remark-lhw">备注：</span>
        <textarea style="border:1px solid #ddd;width:82%;" readonly="readonly" class="remark-p remark-lhw-p textarea-lhw ng-binding ng-isolate-scope"  ng-model="kgIndiv.remark" name="kgApprovalTrial"> </textarea>
    </div> -->
</div>
</form>


<!-- 非华融资方查看房产信息 -->
<style>
.form-inline.w label{width:135px;}
 
</style>
<div class="row form-inline w detail-row-min" ng-if="fundId!=31">
		<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;1.房产信息</div>
		<div ng-repeat="idea in house.orderBaseHousePropertyDto">
			<div class="col-md-12 danbao-tit">&nbsp;&nbsp;房产信息（<span class="num-box" ng-bind="$index+1"></span>）</div>
			<div class="col-md-6 col-lg-4"><label>所在地区：</label>
				<span ng-bind="house.cityName"></span>-<span ng-bind="idea.houseRegion"></span>
			</div>
			
			<div class="col-md-6 col-lg-4"><label>房产名称： </label> 
				<span ng-bind="idea.houseName"></span>
			</div>
			
			<div class="col-md-6 col-lg-4"><label>产权证类型：</label>
				<span ng-bind="idea.housePropertyType"></span>
			</div>
			
			<div class="col-md-6 col-lg-4"><label>产权证号：</label>
				<span ng-bind="idea.housePropertyNumber"></span>
			</div>
			
			<div class="col-md-6 col-lg-4"><label>登记价：</label>
				<span ng-bind="idea.houseRecordPrice"></span>元
			</div>
			
			<div class="col-md-6 col-lg-4"><label>建筑面积：</label>
				<span ng-bind="idea.houseArchitectureSize"></span>㎡
			</div>
		</div>
		<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;2.产权人信息</div>
		<div ng-repeat="idea in house.orderBaseHousePropertyPeopleDto">
			<div class="col-md-12 danbao-tit">&nbsp;&nbsp;产权人信息（<span class="num-box" ng-bind="$index+1"></span>）</div>
		<div class="col-md-6 col-lg-4"><label>姓名：</label>
			<span ng-bind="idea.propertyName"></span>
		</div>
		
		<!-- <div class="col-md-6 col-lg-4"><label>手机号码：  
			<span ng-bind="idea.propertyPhoneNumber"></span>
		</div> -->
		
		<div class="col-md-6 col-lg-4"><label>婚姻状况：</label>
			<span ng-bind="idea.propertyMarriageState"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>证件类型：</label>
			<span ng-bind="idea.propertyCardType"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>证件号码：</label>
			<span ng-bind="idea.propertyCardNumber"></span>
		</div>
		</div>
	<div ng-if="!(productCode=='03' && (relationOrderNo == '' ||relationOrderNo == null))">
		<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;3.房贷信息</div>
		<div class="col-md-6 col-lg-4"><label>原房贷金额：</label>
			<span ng-bind="house.oldHouseLoanAmount"></span>万元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>原房贷余额：</label>
			<span ng-bind="house.oldHouseLoanBalance"></span>万元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>原贷款是否银行：</label>
			<span ng-if="house.isOldLoanBank==1">是</span>
			<span ng-if="house.isOldLoanBank==2">否</span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="house.isOldLoanBank==2"><label>原贷款地点：</label>
			<span ng-bind="house.oldLoanBankName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="house.isOldLoanBank==1"><label>原贷款银行-支行：</label>
			<span ng-bind="house.oldLoanBankName"></span>-<span ng-bind="house.oldLoanBankSubName"></span>
		</div>
	</div>	
		
	<div ng-if="productCode=='03' && (relationOrderNo == '' || relationOrderNo == null)">
		<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;3.业务类型</div>
		<div class="col-md-6 col-lg-4"><label>业务类型：</label>
			<span ng-if="house.bussinessType==1">交易类</span>
			<span ng-if="house.bussinessType==2">非交易类</span>
		</div>
	</div>
	<div ng-if="productCode=='01'||slProductCode=='01'||(productCode=='03'&&house.bussinessType==1 &&( relationOrderNo == '' || relationOrderNo == null))">
		<div class="col-md-12 detail-right-tit" ng-if="productCode=='03'&&house.bussinessType==1 && ( relationOrderNo == '' || relationOrderNo == null)">&nbsp;&nbsp;4.买房人信息(交易类)</div>
		<div class="col-md-12 detail-right-tit" ng-if="productCode=='01'||slProductCode=='01'">&nbsp;&nbsp;4.买房人信息</div>
		<div ng-repeat="idea in house.orderBaseHousePurchaserDto">
			<div class="col-md-12 danbao-tit">&nbsp;&nbsp;买房人信息（<span class="num-box" ng-bind="$index+1"></span>）</div>
			<div class="col-md-6 col-lg-4"><label>姓名：</label>
				<span ng-bind="idea.buyName"></span>
			</div>
			
			<div class="col-md-6 col-lg-4"><label>手机号码：  </label>
				<span ng-bind="idea.buyPhoneNumber"></span>
			</div>
			
			<div class="col-md-6 col-lg-4"><label>证件类型：</label>
				<span ng-bind="idea.buyCardType"></span>
			</div>
			
			<div class="col-md-6 col-lg-4"><label>证件号码：</label>
				<span ng-bind="idea.buyCardNumber"></span>
			</div>
		</div>
		<div class="col-md-12 detail-right-tit" ng-if="productCode=='03'&&house.bussinessType==1 && (relationOrderNo == ''|| relationOrderNo == null)">&nbsp;&nbsp;5.交易信息(交易类)</div>
		<div class="col-md-12 detail-right-tit" ng-if="productCode=='01'||slProductCode=='01'">&nbsp;&nbsp;5.交易信息</div>
		<div class="col-md-6 col-lg-4"><label>成交价格：</label>
			<span ng-bind="house.houseDealPrice"></span>万元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>成交定金：</label>
			<span ng-bind="house.houseDealDeposit"></span>万元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>资金监管金额：</label>
			<span ng-bind="house.houseSuperviseAmount"></span>万元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>贷款金额：</label>
			<span ng-bind="house.houseLoanAmount"></span>万元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>新贷款是否银行：</label>
			<span ng-if="house.isLoanBank==1">是</span>
			<span ng-if="house.isLoanBank==2">否</span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="house.isLoanBank==2"><label>新贷款地点：</label>
			<span ng-bind="house.loanBankName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="house.isLoanBank==1"><label>新贷款银行-支行：</label>
			<span ng-bind="house.loanBankName"></span>-<span ng-bind="house.loanSubBankName"></span>
		</div>
		
	</div>
	<div ng-if="productCode=='02'||slProductCode=='02'||(productCode=='03'&&house.bussinessType==2 && ( relationOrderNo == '' || relationOrderNo == null))">
		<div class="col-md-12 detail-right-tit" ng-if="productCode=='03'&&house.bussinessType==2 && ( relationOrderNo == '' || relationOrderNo == null)">&nbsp;&nbsp;4.新贷款信息(非交易类)</div>
		<div class="col-md-12 detail-right-tit" ng-if="productCode=='02'||slProductCode=='02'">&nbsp;&nbsp;4.新贷款信息</div>
		<div class="col-md-6 col-lg-4"><label>新贷款金额：</label>
			<span ng-bind="house.houseLoanAmount"></span>万元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>新贷款是否银行：</label>
			<span ng-if="house.isLoanBank==1">是</span>
			<span ng-if="house.isLoanBank==2">否</span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="house.isLoanBank==2"><label>新贷款地点：</label>
			<span ng-bind="house.loanBankName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="house.isLoanBank==1"><label>新贷款银行-支行：</label>
			<span ng-bind="house.loanBankName"></span>-<span ng-bind="house.loanSubBankName"></span>
		</div>
		
	</div>
	<div class="col-md-12 col-lg-12">
			<label class="remark-span remark-lhw">备注：</label>
			<textarea ng-bind="house.remark" class="remark-p remark-lhw-p textarea-lhw" readonly="readonly" ></textarea>
		</div>
</div>