<style>
	textarea:focus{oulilne:none;}
</style>
<div class="container-fluid" id="auditFirst" ng-if="fundId==31">

	<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;风控初审意见
		<a ng-show="!isEdit" style="display:inline-block;float:right;padding-right: 10px;" ui-sref="orderList" >返回上一步</a>
		<span ng-show="isEdit" class="detail-trash2 text-danger" ng-click="deleteDetail('audit-first-detail')" >隐藏</span>
		<div style="position:absolute;right:400px;top:0px;">
				  <span id="elementFlag" ng-bind="elementFlag">是否已收到要件：是</span>
				  <span><a id="elementInfo" ng-bind="elementInfo" ng-click="showDetail('elementEntrance');">要件详情</a></span> 
			</div>
	</div>
  <textarea style="border:1px solid #ddd;width:82%;" class="remark-p remark-lhw-p textarea-lhw ng-binding ng-isolate-scope"  readonly="readonly" ng-model="kgApproval.trial" name="kgApprovalTrial"> </textarea> 
</div>


<style>
	textarea:focus{oulilne:none;}
	.w138 label{width:150px;}
	.form-inline label.tl{text-align:left;}
	#auditFirst .detail-row{line-height:32px;}
	#auditFirst .w138 label{width:auto;padding-left:20px;}
</style>
<div class="container-fluid" id="auditFirst" ng-if="fundId!=31">

	<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;风控初审意见
		<a ng-show="!isEdit" style="display:inline-block;float:right;padding-right: 10px;" ui-sref="orderList" >返回上一步</a>
		<span ng-show="isEdit" class="detail-trash2 text-danger" ng-click="deleteDetail('audit-first-detail')" >隐藏</span>
	</div>

	<div class="col-md-12 detail-row">
		&nbsp;&nbsp;初审意见
		（初审人：<span class="text-danger" ng-bind="obj.handleName"></span>
		初审结果：<span class="text-danger"  ng-if="obj.auditStatus==1">通过</span>
				 <span class="text-danger"  ng-if="obj.auditStatus==2">不通过(退回)</span>
				 <span class="text-danger"  ng-if="obj.auditStatus==3">上报终审</span>）  
		<span ng-bind="obj.auditTime|date:'yyyy-MM-dd HH:mm'"></span>
	</div>
	 <textarea  readonly="readonly" ng-bind="obj.remark" style="background:transparent;resize:none;outline:medium;border:none;width:94%;padding:10px;line-height: 30px;" disabled="disabled "/> 
	 <textarea ng-if="obj.propertyName==null && obj.loanAmount==null"  ng-bind="obj.remark"  readonly="readonly" disabled="disabled" style="background:transparent;resize:none;outline:medium;border:none;width:94%;padding:10px;line-height: 30px;" />
	<div class="row detail-row form-inline w138" ng-if="obj.propertyName != null && obj.loanAmount != null">
	    <div class="col-md-12" style="color:#4a77ac"> &nbsp;&nbsp;1)业务概况：</div>
		<div class="col-md-6  col-lg-4">
			<label>业务类型：</label><span ng-bind="obj.productName"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>借款金额：</label><span ng-bind="obj.loanAmount"></span> 万元
		</div>
		<div class="col-md-6 col-lg-4">
			<label>负债比例：</label><span ng-bind="obj.debtRatio"></span> %
		</div>
		<div class="col-md-6 col-lg-4">
			<label>借款成数：</label><span ng-bind="obj.loanPoportion"></span> %
		</div>
		<div class="col-md-6 col-lg-4 ">
			<label>债务置换贷款成数：</label><span ng-bind="obj.productLoanPoportion"></span> %
		</div>
		<div class="col-md-6 col-lg-4">
			<label>房产产权人 ：</label><span ng-bind="obj.propertyOwner"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>物业名称：</label><span ng-bind="obj.propertyName"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>建筑面积：</label><span ng-bind="obj.area"></span> ㎡
		</div>
		<div class="col-md-6 col-lg-4">
			<label>评估总值：</label><span ng-bind="obj.assessment"></span> 元
		</div>
		<div class="col-md-6 col-lg-4">
			<label>抵押情况：</label><span ng-bind="obj.mortgageSituation"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>原贷款地点：</label><span ng-bind="obj.addressOld"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>原贷款金额：</label><span ng-bind="obj.amountOld"></span> 万元
		</div>
		<div class="col-md-6 col-lg-4">
			<label>新贷款地点：</label><span ng-bind="obj.addressNew"></span> 
		</div>
		<div class="col-md-6 col-lg-4">
			<label>新贷款金额：</label><span ng-bind="obj.amountNew"></span> 万元
		</div>
		<div class="col-md-6 col-lg-4">
			<label>近6个月查询次数：</label><span ng-bind="obj.monthNum"></span> 次
		</div>
		<div class="col-md-6 col-lg-4">
			<label>近两年逾期次数：</label><span ng-bind="obj.yearNum"></span> 次
		</div>
	</div>
	<div class="row detail-row form-inline w138" style="padding-top:10px;" ng-if="obj.propertyName !=null && obj.loanAmount != null">
	     <div class="col-md-12 col-lg-12" style="position:relative;">
	            <label style="float:left;">概况：</label>
				<p ng-bind-html="obj.remark"  style="margin-left:100px;padding-right:20px;"></p>
		</div>
	</div>
	<div class="row detail-row form-inline w138" ng-if="obj.propertyName != null && obj.loanAmount != null">
	    <div class="col-md-12" style="color:#4a77ac;"> &nbsp;&nbsp;2)初审意见：</div>
		<div class="col-md-12 ">
			<label class="tl">1.业务标准：</label><span ng-if="obj.business==1">标准</span><span ng-if="obj.business==2">非标准</span>
		</div>
		<div class="col-md-12">
			<label class="tl">2.出款金额：</label><span ng-bind="obj.sunMoney"></span> 万元
		</div>
		<div class="col-md-12" > <label class="tl">3.出款银行信息：</label></div>
		<div class="col-md-6 col-lg-4">
			<label>&nbsp;&nbsp;开户名：</label><span ng-bind="obj.loanName"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>账号：</label><span ng-bind="obj.loanAccount"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>银行-支行：</label><span ng-bind="obj.loanBankName"></span> - <span ng-bind="obj.loanBankSubName"></span>
		</div>
		<div class="col-md-12" > <label class="tl">4.回款银行信息：</label></div>
		<div class="col-md-6 col-lg-4">
			<label>&nbsp;&nbsp;开户名：</label><span ng-bind="obj.paymentName"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>账号：</label><span ng-bind="obj.paymentAccount"></span>
		</div>
		<div class="col-md-6 col-lg-4">
			<label>银行-支行：</label><span ng-bind="obj.paymentBankName"></span> - <span ng-bind="obj.paymentBankSubName"></span>
		</div>
		<!-- <div class="col-md-6 col-lg-4">
			<label class="tl">5.建议费率：</label><span ng-bind="obj.rate"></span> %/天
		</div>
		<div class="col-md-6 col-lg-4">
			<label>建议逾期费率：</label><span ng-bind="obj.overdueRate"></span> %/天
		</div>
		<div class="col-md-12" style="padding-left:20px;">6.严格控制相关账号账户要件，并更改密码</div>
		<div class="col-md-12" style="padding-left:20px;">7.严控流程节点并及时反馈相关节点信息操作</div>
		<div class="row detail-row form-inline w138" style="padding-top:10px;"> -->
	     <div class="col-md-12 col-lg-12" style="position:relative;">
	            <label style="float:left;" class="tl">5. 其 他 ：</label>
 		    <p ng-bind-html="obj.other" style="margin-left:100px;padding-right:20px;"></p>
		</div>
	 </div>
	</div>
	
	<!--征信日志-->
	<!-- <risk-creditlog-detail></risk-creditlog-detail> -->
</div>



