<div class="container-fluid">
	
	<place-order-detail></place-order-detail>

	<div id="viewRow">
		
	</div>
	<manager-audit-detail></manager-audit-detail>
	<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;风控初审意见</div>
	<div class="row">
		<div class="form-group">
			<textarea class="form-control" rows="5" ng-model="obj.remark" placeholder="请在此处输入审批意见，退回请在此处填写退回意见（必填）"/>
		</div>
		<div class="col-md-12">
			<button type="button" class="btn btn-primary" ng-click="showFirstSubmit();" ng-show="auditFirstShow">审批通过</button>
			<button type="button" class="btn btn-primary" ng-click="reportFinalShow();">上报终审</button>
			<button type="button" class="btn btn-warning" ng-show="!orderIsBack" ng-click="showFirstBack()">不通过（退回）</button>
			<button type="button" class="btn btn-primary" ng-if="borrow.isChangLoan!=1" ng-show="showView!=7" ng-click="riskEditCredit();">修改征信</button>
		</div>
	</div>
</div>