<div class="container-fluid" id="cancellation">
	<!--标题-->
	<div class="row">
		<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;注销信息
			<a ng-show="!isEdit" style="display:inline-block;float:right;padding-right: 10px;" ui-sref="orderList" >返回上一步</a>
			<span ng-show="isEdit" class="detail-trash2 text-danger" ng-click="deleteDetail('cancellation-detail')" >隐藏</span>
			<div style="position:absolute;right:400px;top:0px;">
			  <span id="elementFlag" ng-bind="elementFlag">是否已收到要件：是</span>
			  <span><a id="elementInfo" ng-bind="elementInfo" ng-click="showDetail('elementEntrance');">要件详情</a></span>
			</div>
		</div>
	</div>
	<!--标题 end-->
	<div class="row detail-row detail-lhw" >
		<div class="col-md-6 col-lg-4"><label>注销日期：</label><span ng-bind="obj.cancelTimeStr"></span></div>
		<div class="col-md-6 col-lg-4"><label>国土局：</label><span ng-bind="obj.clandBureauName"></span></div>
		<div class="col-md-6 col-lg-4"><label>预计<span ng-if="obj.type==1">过户</span><span ng-if="obj.type==2">抵押</span>日期：</label><span ng-bind="obj.transferTimeStr"></div>
		<div class="col-md-6 col-lg-4"><label>国土局驻点<span ng-if="obj.type==1">（过户）</span><span ng-if="obj.type==2">（抵押）</span>：</label><span ng-bind="obj.tlandBureauUserName"></span></div>
		<div class="col-md-6 col-lg-4"><label>国土局<span ng-if="obj.type==1">（过户）</span><span ng-if="obj.type==2">（抵押）</span>：</label><span ng-bind="obj.tlandBureauName"></span></div>
	</div>
	<!--备注-->
	<div class="row relative" ng-if="obj.remark!='' && obj.remark!=null">
		<span class="remark-span remark-lhw">备注：</span>
		<textarea class="remark-p remark-lhw-p textarea-lhw" readonly="readonly" ng-bind="obj.remark" > </textarea>
	</div>
	<!--备注end-->
 <!--图片 放大插件-->
	<div class="row gallerys">
		<img ng-repeat="img in obj.imgs" ng-src="{{img}}" width="150" height="150" class="detail-img gallery-pic">
	</div>
	<!--图片end-->
</div>
