<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anjbo.dao.FacesignMapper">
	
	<select id="selectFacesign" parameterType="FaceSignDto" resultType="FaceSignDto">
	   select *,DATE_FORMAT(faceSignTime,'%Y-%m-%d') as faceSignTimeStr  from tbl_process_app_facesign where orderNo=#{orderNo}
	</select>
	
	<insert id="addFacesign" parameterType="FaceSignDto" >
	    INSERT INTO `tbl_process_app_facesign` (
	    `createUid`, `createTime`, `updateUid`, `orderNo`, `faceSignTime`, `faceSignPhoto`,  `remark`<!-- ,`accountType`,`customerName`,`bankName`
	    ,`bankNameId`,`bankCardNo`,`certificateType`,`certificateNo`,`mobile` -->
	    ) VALUES (
	     #{createUid}, now(), #{updateUid}, #{orderNo}, #{faceSignTime}, #{faceSignPhoto},  #{remark}<!-- ,#{accountType},#{customerName},#{bankName}
	     ,#{bankNameId},#{bankCardNo},#{certificateType},#{certificateNo},#{mobile} -->
	    )
	</insert>
	<update id="updateFacesign" parameterType="FaceSignDto">
	  update tbl_process_app_facesign set remark=#{remark},
	        faceSignTime=#{faceSignTime},
	   		faceSignPhoto=#{faceSignPhoto},
	   		<!-- <if test="accountType != null and accountType != ''">
	   			accountType=#{accountType},
	   		</if>
	   		<if test="customerName != null and customerName != ''">
	   			customerName=#{customerName},
	   		</if>
	   		<if test="bankName != null and bankName != ''">
	   			bankName=#{bankName},
	   		</if>
	   		<if test="bankNameId != null and bankNameId != ''">
	   			bankNameId=#{bankNameId},
	   		</if>
	   		<if test="bankCardNo != null and bankCardNo != ''">
	   			bankCardNo=#{bankCardNo},
	   		</if>
	   		<if test="certificateType != null and certificateType != ''">
	   			certificateType=#{certificateType},
	   		</if>
	   		<if test="certificateNo != null and certificateNo != ''">
	   			certificateNo=#{certificateNo},
	   		</if>
	   		<if test="mobile != null and mobile != ''">
	   			mobile=#{mobile}
	   		</if> -->
	    updateUid=#{updateUid}
	  where orderNo=#{orderNo}
	</update>
	
	<select id="listFacesignRecognition" parameterType="FacesignRecognitionDto" resultType="FacesignRecognitionDto">
		SELECT  * FROM tbl_process_app_facesign_recognition WHERE  orderNo=#{orderNo} ORDER BY createTime
	</select>
	<select id="selectFacesignRecognitionById" resultType="FacesignRecognitionDto">
		SELECT * FROM tbl_process_app_facesign_recognition WHERE id=#{id}
	</select>
	<insert id="insertFacesignRecognition" parameterType="FacesignRecognitionDto"  useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" order="AFTER"
				   keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT  INTO tbl_process_app_facesign_recognition
		(
			orderNo,customerCardNumber,customerName,isSuccess,createUid,createTime,customerType,imageUrl,score
		)
		VALUES
		(
			#{orderNo},#{customerCardNumber},#{customerName},#{isSuccess},#{createUid},now(),#{customerType},#{imageUrl},#{score}
		)
	</insert>
	
	<insert id="insertFacesignRecognitions" parameterType="java.util.List">
		<selectKey resultType="java.lang.Integer" order="AFTER"
				   keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT  INTO tbl_process_app_facesign_recognition
		(
			orderNo,customerCardNumber,customerName,isSuccess,createUid,createTime,customerType,imageUrl,score
		)
		VALUES
		<foreach collection ="list" item="reddemCode" index= "index" separator =",">
		(
			#{reddemCode.orderNo},#{reddemCode.customerCardNumber},#{reddemCode.customerName},#{reddemCode.isSuccess},
			#{reddemCode.createUid},now(),#{reddemCode.customerType},#{reddemCode.imageUrl},#{reddemCode.score}
		)
		</foreach>
	</insert>

	<update id="updateFacesignRecognition" parameterType="FacesignRecognitionDto">
		UPDATE tbl_process_app_facesign_recognition
		<set>
			<if test="customerCardNumber!=null and customerCardNumber!=''">
				customerCardNumber = #{customerCardNumber},
			</if>
			<if test="customerName!=null and customerName!=''">
				customerName = #{customerName},
			</if>
			<if test="isSuccess>0">
				isSuccess = #{isSuccess},
			</if>
			<if test="updateUid!=null and updateUid!=''">
				updateUid = #{updateUid},
			</if>
			<if test="customerType!=null and customerType!=''">
				customerType = #{customerType},
			</if>
			<if test="imageUrl!=null and imageUrl!=''">
				imageUrl = #{imageUrl},
			</if>
			<if test="score!=null and score!=''">
				score = #{score},
			</if>
		</set>
		WHERE  id=#{id}
	</update>

	<delete id="deleteFacesignRecognition" parameterType="FacesignRecognitionDto">
		DELETE FROM tbl_process_app_facesign_recognition WHERE id=#{id}
	</delete>
	
	<delete id="deleteByOrderNoAndCustomerType" parameterType="FacesignRecognitionDto">
		DELETE FROM tbl_process_app_facesign_recognition WHERE orderNo=#{orderNo} and customerType = #{customerType}
	</delete>
</mapper>