<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anjbo.dao.mort.DegreeHouseNumberMapper" >
 
 	<select id="queryByHouseNum" parameterType="java.lang.String" resultType="DegreeHouseNumDto">
		select * from `tbl_region_housenum` where houseNum=#{0}
	</select>

	<insert id="insert" parameterType="DegreeHouseNumDto">
		INSERT INTO `tbl_region_housenum` (`region`, `street`, `buildingid`, `buildingname`, `roomNum`, `address`, `houseNum`)
		VALUES (#{region}, #{street}, #{buildingId}, #{buildingName}, #{roomNum}, #{address}, #{houseNum})
	</insert>

	<insert id="insertBuilding" parameterType="DegreeBuildingDto">
		INSERT INTO `tbl_region_building` (`region`,`street`,`areaid`, `buildingid`, `buildingname`, `keyWord`) VALUES (#{region},#{street},#{areaId}, #{buildingID}, #{buildingName}, #{keyWord});
	</insert>

	<select id="queryBuildingDtoByKeyWord" parameterType="java.lang.String" resultType="DegreeBuildingDto">
		select * from tbl_region_building where keyWord=#{0}
	</select>

	<select id="queryByBuildingId" parameterType="java.lang.String" resultType="DegreeBuildingDto">
		select * from tbl_region_building where buildingid=#{0}
	</select>

</mapper>