<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.anjbo.dao.CustomerAgencyFeescaleRiskcontrolMapper">	
	<!-- where条件引用sql-->
	<sql id="customerAgencyFeescaleRiskcontrolWhereSQL">
		<where>
	       		<if test="grade != null and grade > 0">
					and `grade` = #{grade}
				</if>
	       		<if test="feescaleid != null and feescaleid > 0">
					and `feescaleid` = #{feescaleid}
				</if>
	       		<if test="createTime != null">
					and `createTime` = #{createTime}
				</if>
	       		<if test="updateTime != null">
					and `updateTime` = #{updateTime}
				</if>
	       		<if test="createUid != null and createUid != ''">
					and `createUid` = #{createUid}
				</if>
	       		<if test="updateUid != null and updateUid != ''">
					and `updateUid` = #{updateUid}
				</if>
	       		<if test="remark != null and remark != ''">
					and `remark` = #{remark}
				</if>
		</where>
	</sql>
	<!-- 获取风控配置列表-->
	<select id="selectCustomerAgencyFeescaleRiskcontrolList" parameterType="customerAgencyFeescaleRiskcontrolDto" resultType="customerAgencyFeescaleRiskcontrolDto">
		select * from tbl_customer_agency_feescale_riskcontrol 
		<include refid="customerAgencyFeescaleRiskcontrolWhereSQL" />
		order by createTime  
		<if test="pageSize>0">
			limit #{start},#{pageSize}
		</if>
	</select>
	
	<!-- 获取风控配置总数-->
	<select id="selectCustomerAgencyFeescaleRiskcontrolCount" parameterType="customerAgencyFeescaleRiskcontrolDto" resultType="int">
		select count(*) from tbl_customer_agency_feescale_riskcontrol 
		<include refid="customerAgencyFeescaleRiskcontrolWhereSQL" />
	</select>	
		
	<!-- 新增风控配置-->
	<insert id="addCustomerAgencyFeescaleRiskcontrol" parameterType="customerAgencyFeescaleRiskcontrolDto" useGeneratedKeys="true" keyProperty="id">
		insert	into tbl_customer_agency_feescale_riskcontrol(
			<trim suffixOverrides=",">
				<if test="grade != null">`grade`,</if>
				<if test="feescaleid != null">`feescaleid`,</if>
				<if test="createTime != null">`createTime`,</if>
				<if test="updateTime != null">`updateTime`,</if>
				<if test="createUid != null">`createUid`,</if>
				<if test="updateUid != null">`updateUid`,</if>
				<if test="remark != null">`remark`,</if>
			</trim>
		)
		values(	
			<trim suffixOverrides=",">
				<if test="grade != null">#{grade},</if>
				<if test="feescaleid != null">#{feescaleid},</if>
				<if test="createTime != null">#{createTime},</if>
				<if test="updateTime != null">#{updateTime},</if>
				<if test="createUid != null">#{createUid},</if>
				<if test="updateUid != null">#{updateUid},</if>
				<if test="remark != null">#{remark},</if>
			</trim>
		)
	</insert>
	
	<!-- 修改风控配置-->
	<update id="updateCustomerAgencyFeescaleRiskcontrol" parameterType="customerAgencyFeescaleRiskcontrolDto" >
	 update tbl_customer_agency_feescale_riskcontrol
	<set> 
			<trim suffixOverrides=",">
				<if test="grade != null">`grade` = #{grade},</if>
				<if test="feescaleid != null">`feescaleid` = #{feescaleid},</if>
				<if test="createTime != null">`createTime` = #{createTime},</if>
				<if test="updateTime != null">`updateTime` = #{updateTime},</if>
				<if test="createUid != null">`createUid` = #{createUid},</if>
				<if test="updateUid != null">`updateUid` = #{updateUid},</if>
				<if test="remark != null">`remark` = #{remark},</if>
			</trim>
	</set> 
	 where id = #{id}
	</update>

	<!-- 根据ID删除风控配置-->
    <delete id="deleteCustomerAgencyFeescaleRiskcontrolById" parameterType="int">
		delete	from tbl_customer_agency_feescale_riskcontrol where id = #{0}
    </delete>

	<!-- 根据收费标准ID删除风控配置-->
    <delete id="deleteCustomerAgencyFeescaleRiskcontrolByFeescaleId" parameterType="int">
		delete	from tbl_customer_agency_feescale_riskcontrol where feescaleid = #{0}
    </delete>

	<delete id="deleteCustomerAgencyFeescaleRiskcontrolByFeescaleIds" parameterType="java.lang.String">
		delete	from tbl_customer_agency_feescale_riskcontrol where feescaleid in (${feescaleids})
	</delete>
	<!-- 根据ID查询风控配置 -->
	
	<select id="selectCustomerAgencyFeescaleRiskcontrolById" parameterType="int" resultType="customerAgencyFeescaleRiskcontrolDto">
		select	* from tbl_customer_agency_feescale_riskcontrol where id = #{0}
	</select>
	
</mapper>