<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anjbo.dao.OrderBaseBorrowRelationMapper" >
	
	<!-- 添加关联订单借款信息 -->
	<insert id="saveOrderBorrowRelation" parameterType="OrderBaseBorrowRelationDto">
		INSERT INTO tbl_order_base_borrow_relation (
			createUid,
			createTime,
			orderNo,
			productCode,
			borrowingDays,
			loanAmount,
			rate,
			overdueRate,
			chargeMoney,
			customsPoundage,
			riskGradeId,
			otherPoundage,
			relationOrderNo,
			<if test="isFinish != null and isFinish > 0">
			isFinish,
			</if>
			remark
		)
		VALUES
		(
			#{createUid},
			now(),
			#{orderNo},
			#{productCode},
			#{borrowingDays},
			#{loanAmount},
			#{rate},
			#{overdueRate},
			#{chargeMoney},
			#{customsPoundage},
			#{riskGradeId},
			#{otherPoundage},
			#{relationOrderNo},
			<if test="isFinish != null and isFinish > 0">
			#{isFinish},
			</if>
			#{remark}
		)
	</insert>
	
	<!-- 修改订单借款信息 -->
	<update id="updateOrderBorrowRelation" parameterType="OrderBaseBorrowRelationDto">
	  	UPDATE tbl_order_base_borrow_relation 
	  	SET
	  		<if test="updateUid != null and updateUid != ''">
	  			updateUid = #{updateUid},
	  		</if>
	  		<if test="borrowingDays != null and borrowingDays != 0">
	  			borrowingDays = #{borrowingDays},
	  		</if>
	  		<if test="loanAmount != null and loanAmount != 0">
	  			loanAmount = #{loanAmount},
	  		</if>
	  		<if test="rate != null and rate > -1">
	  			rate = #{rate},
	  		</if>
	  		<if test="overdueRate != null and overdueRate > -1">
	  			overdueRate = #{overdueRate},
	  		</if>
	  		<if test="chargeMoney != null and chargeMoney > -1">
	  			chargeMoney = #{chargeMoney},
	  		</if>
	  		<if test="customsPoundage != null and customsPoundage > -1">
	  			customsPoundage = #{customsPoundage},
	  		</if>
	  		<if test="riskGradeId != null and riskGradeId > -1">
	  			riskGradeId = #{riskGradeId},
	  		</if>
	  		<if test="otherPoundage != null and otherPoundage > -1">
	  			otherPoundage = #{otherPoundage},
	  		</if>
	  		<if test="serviceCharge != null and serviceCharge > -1">
	  			serviceCharge = #{serviceCharge},
	  		</if>
	  		<if test="remark != null and remark > 0">
	  			remark = #{remark},
	  		</if>
	  		<if test="isFinish != null and isFinish != 0">
	  			isFinish = #{isFinish},
	  		</if>
	  		updateTime = now()
	  	WHERE orderNo = #{orderNo}
  	</update>
  	
  	<!-- 修改订单借款信息 -->
	<update id="updateOrderBorrowRelationNull" parameterType="OrderBaseBorrowRelationDto">
	  	UPDATE tbl_order_base_borrow_relation 
	  	SET
	  			updateUid = #{updateUid},
	  			productCode = #{productCode},
	  			borrowingDays = #{borrowingDays},
	  			loanAmount = #{loanAmount},
	  			rate = #{rate},
	  			overdueRate = #{overdueRate},
	  			chargeMoney = #{chargeMoney},
	  			customsPoundage = #{customsPoundage},
	  			riskGradeId = #{riskGradeId},
	  			otherPoundage = #{otherPoundage},
	  			remark = #{remark},
	  			<if test="isFinish != null and isFinish > 0">
	  			isFinish = #{isFinish},
	  			</if>
	  			updateTime = now()
	  	WHERE relationOrderNo = #{orderNo}
  	</update>
  	
	<!-- 查询订单借款信息 -->
	<select id="selectOrderBorrowRelationByOrderNo" parameterType="java.lang.String" resultType="OrderBaseBorrowRelationDto">
  		select 
  			id,
  			createUid,
			createTime,
			updateUid,
			updateTime,
			orderNo,
			productCode,
			borrowingDays,
			loanAmount,
			rate,
			overdueRate,
			chargeMoney,
			customsPoundage,
			riskGradeId,
			otherPoundage,
			relationOrderNo,
			remark,
			isFinish
  		from tbl_order_base_borrow_relation where relationOrderNo=#{orderNo}
    </select>
    
    <!-- 查询关联订单信息 -->
	<select id="selectRelationByOrderNo" parameterType="java.lang.String" resultType="OrderBaseBorrowRelationDto">
  		select 
  			id,
  			createUid,
			createTime,
			updateUid,
			updateTime,
			orderNo,
			productCode,
			borrowingDays,
			loanAmount,
			rate,
			overdueRate,
			chargeMoney,
			customsPoundage,
			riskGradeId,
			otherPoundage,
			relationOrderNo,
			remark,
			isFinish 
  		from tbl_order_base_borrow_relation where orderNo=#{orderNo} limit 1
    </select>
	
	  <!-- 删除指定relationOrderNo的借款信息 3.0-->
   <delete id="deleteOrderBorrowRelation" parameterType="string">
  	 DELETE FROM tbl_order_base_borrow_relation WHERE relationOrderNo=#{relationOrderNo}
   </delete>
   <!-- 删除指定orderNo的关联订单借款信息-->
   <delete id="deleteRelationByOrderNo" parameterType="string">
  	 DELETE FROM tbl_order_base_borrow_relation WHERE orderNo=#{orderNo}
   </delete>
</mapper>