<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.anjbo.dao.AuthorityMapper">
	<sql id="sqlwhereSearch">
		<where>
			<if test="null!=id and id>0"> AND `id`=#{id}</if>
			<if test="null!=name and ''!=name"> AND `name`=#{name}</if>
			<if test="null!=processId and processId>0"> AND `processId`=#{processId}</if>
			<if test="null!=isEnable and isEnable>0"> AND `isEnable`=#{isEnable}</if>
			<if test="null!=type and type>0"> AND `type`=#{type}</if>
			<if test="null!=resourceId and resourceId>0"> AND `resourceId`=#{resourceId}</if>
			<!-- <if test="@Ognl@isNotEmpty(createTimeBegin)"> AND createTime >= #{createTimeBegin}</if> 
				<if test="@Ognl@isNotEmpty(createTimeEnd)"> AND createTime &lt;= #{createTimeEnd}</if> -->
			<!-- <if test="@Ognl@isNotEmpty(updateTimeBegin)"> AND updateTime >= #{updateTimeBegin}</if> 
				<if test="@Ognl@isNotEmpty(updateTimeEnd)"> AND updateTime &lt;= #{updateTimeEnd}</if> -->
			<if test="null!=createUid and ''!=createUid"> AND `createUid`=#{createUid}</if>
			<if test="null!=updateUid and ''!=updateUid"> AND `updateUid`=#{updateUid}</if>
			<if test="null!=remark and ''!=remark"> AND `remark`=#{remark}</if>
		</where>
	</sql>


	<!-- 获取实体 -->
	<select id="find" parameterType="AuthorityDto"
		resultType="AuthorityDto">
		SELECT `id`, `name`, `processId`, `isEnable`, `type`, `resourceId`,
		`createTime`, `updateTime`, `createUid`, `updateUid`, `remark`
		FROM tbl_authority
		<include refid="sqlwhereSearch" />
	</select>

	<!-- 查询 -->
	<select id="search" parameterType="AuthorityDto"
		resultType="AuthorityDto">
		SELECT `id`, `name`, `processId`, `isEnable`, `type`, `resourceId`,
		`createTime`, `updateTime`, `createUid`, `updateUid`, `remark`
		FROM tbl_authority
		<include refid="sqlwhereSearch" />

		<if test="pageSize > 0 ">limit #{start},#{pageSize}</if>
	</select>

	<!-- 查询 -->
	<select id="count" parameterType="AuthorityDto" resultType="int">
		SELECT count(1)
		FROM tbl_authority
		<include refid="sqlwhereSearch" />
	</select>


	<!-- 增删改 -->
	<insert id="insert" parameterType="AuthorityDto"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tbl_authority(
		`name`,
		`processId`,
		`isEnable`,
		`type`,
		`resourceId`,
		`createTime`,
		`updateTime`,
		`createUid`,
		`updateUid`,
		`remark`
		) VALUES(
		#{name},
		#{processId},
		#{isEnable},
		#{type},
		#{resourceId},
		now(),
		now(),
		#{createUid},
		#{createUid},
		#{remark}
		)
	</insert>


	<delete id="delete" parameterType="AuthorityDto">
		DELETE FROM tbl_authority
		<include refid="sqlwhereSearch" />
	</delete>

	<update id="update" parameterType="AuthorityDto">
		UPDATE tbl_authority
		<set>
			<if test="null!=name">`name`=#{name},</if>
			<if test="null!=processId">`processId`=#{processId},</if>
			<if test="null!=isEnable">`isEnable`=#{isEnable},</if>
			<if test="null!=type">`type`=#{type},</if>
			<if test="null!=resourceId">`resourceId`=#{resourceId},</if>
			<if test="null!=createTime">`createTime`=now(),</if>
			<if test="null!=updateTime">`updateTime`=now(),</if>
			<if test="null!=updateUid">`updateUid`=#{updateUid},</if>
			<if test="null!=remark">`remark`=#{remark},</if>
		</set>
		WHERE ID=#{id}
	</update>

	<select id="selectAuthorityByProcessIds"
		parameterType="java.lang.String" resultType="AuthorityDto">
		select * from
		tbl_authority where processId in (${processIds})
	</select>

</mapper>