<div class="container-fluid" id="pay">
<!--标题-->
	<div class="row">
		<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;付费信息</div>
		<div style="position:absolute;right:400px;top:0px;">
			 <!--  <span id="elementFlag" ng-bind="elementFlag">是否已收到要件：是</span>
			  <span><a id="elementInfo" ng-bind="elementInfo" ng-click="showDetail('elementEntrance');">要件详情</a></span> -->
		</div>
	</div>
	<!--标题 end-->
	<div class="row detail-row detail-lhw" >
		<div class="col-md-6 col-lg-4"><label>回款结果：</label><span ng-if="obj.type==0">准时回款</span><span ng-if="obj.type==1">提前回款</span><span ng-if="obj.type==2">逾期回款</span></div>
<!-- 		<div class="col-md-6 col-lg-4"><label>是否退费：<span ng-if="obj.refund==1">是</span><span ng-if="obj.refund==0">否</span></div> -->
		<div class="col-md-6 col-lg-4"  ng-if="obj.type>0"><label><span ng-if="obj.type==1">退费金额：</span></label><span ng-if="obj.type==2">罚息金额：</span><span ng-bind="obj.penaltyPayable"></span> 元</div>
		<div class="col-md-6 col-lg-4"><label><span ng-if="obj.type==1">退费时间：</span></label><span ng-if="obj.type==2">付罚息时间：</span>
		  <span ng-bind="obj.payTime | date:'yyyy-MM-dd'"></span>
		  <!--图片 放大插件-->
			 <span class=" gallerys" ng-if="obj.payImg!='' && obj.payImg!=null">
			    <a class="view-pic" onclick="laa(this)">查看图片</a>
				<img ng-repeat="img in obj.imgs" src="{{img}}"   class="detail-img gallery-pic" style="display:none">
			</span>
			<!--图片end--> 
<!-- 		  <span ng-if="obj.payImg!='' && obj.payImg!=null"><a ng-repeat="img in obj.imgs" href="{{img}}" target="付罚息图片" >图片.jpg &nbsp;</a></span> -->
		</div>
	</div>
	<!--备注-->
	<!-- <div class="row relative" ng-if="obj.remark!='' && obj.remark!=null">
		<span class="remark-span remark-lhw">备注：</span>
		<textarea class="remark-p remark-lhw-p textarea-lhw" ng-bind="obj.remark" readonly="readonly" > </textarea>
	</div> -->
	<!--备注end-->
</div>
	<script> 
 function laa(a){  
	$.openPhotoGallery($(a).next("img"));
}
</script>
