<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anjbo.dao.hrtrust.HrtrustKgApprovalMapper">
	<select id="getKgApproval" parameterType="String"
		resultType="map">
		select * from tbl_third_hrtrust_kg_approval where orderNo=#{orderNo} order
		by id DESC limit 0,1
	</select>
	
	 <update id="updateMap" parameterType="java.util.Map">
        update tbl_third_hrtrust_kg_approval
        <set>
            <if test="applSeq != null and applSeq!=''">
                applSeq = #{applSeq},
            </if>

            <if test="trial != null and trial!=''">
                trial = #{trial},
            </if>
            <if test="judgment != null and judgment!=''">
                judgment = #{judgment},
            </if>
            <if test="respStatus != null and respStatus!=''">
                respStatus = #{respStatus},
            </if>
            <if test="chiefRiskOpinion!= null and chiefRiskOpinion!=''">
                chiefRiskOpinion = #{chiefRiskOpinion},
            </if>
        </set>
        where orderNo = #{orderNo}
    </update>
	
	<!-- 添加 审批信息表 -->
	<insert id="saveKgApproval" parameterType="Map">
		INSERT INTO
		tbl_third_hrtrust_kg_approval (
		applSeq,
		orderNo,
		trial,
		judgment,
		respStatus,
		chiefRiskOpinion
		)
		VALUES
		(
		#{applSeq},
		#{orderNo},
		#{trial},
		#{judgment},
		#{respStatus},
		#{chiefRiskOpinion}
		)
	</insert>

</mapper>