<style>
.form-inline.w145 label{width:145px;}
.w145{ padding-top:10px;}
</style>

<div class="row form-inline w145 detail-row-min">
		<div class="col-md-6 col-lg-4"><label>渠道经理-合作机构：</label>
			<span ng-bind="borrow.channelManagerName"></span>-<span ng-bind="borrow.cooperativeAgencyName"></span>
		</div>
		<div class="col-md-6 col-lg-4"><label>受理员：</label>
			<span ng-bind="borrow.agencyName"></span>-<span ng-bind="borrow.acceptMemberName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>分公司（营业部）：</label>
			<span ng-bind="borrow.branchCompany"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>要件管理员：</label>
			<span ng-bind="borrow.elementName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>公证经办人：</label>
			<span ng-bind="borrow.notarialName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>面签员：</label>
			<span ng-bind="borrow.facesignName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>客户姓名：</label>
			<span ng-bind="borrow.borrowerName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>手机号码：</label>
			<span ng-bind="borrow.phoneNumber"></span>
		</div>
		<div class="col-md-6 col-lg-4"> <label>&nbsp;</label></div>
		<div ng-class="{2 :'col-md-6 col-lg-4', 1 :'col-md-12 col-lg-12'}[borrow.isOldLoanBank]"><label>原贷款是否银行：</label>
			<span ng-if="borrow.isOldLoanBank==1">是</span>
			<span ng-if="borrow.isOldLoanBank==2">否</span>
	    </div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isOldLoanBank==2"><label>原贷款地点：</label>
			<span ng-bind="borrow.oldLoanBankName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isOldLoanBank==1"><label>原贷款银行-支行：</label>
			<span ng-bind="borrow.oldLoanBankName"></span>-<span ng-bind="borrow.oldLoanBankSubName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isOldLoanBank==1"><label>原贷款银行经理：</label>
			<span ng-bind="borrow.oldLoanBankManager"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isOldLoanBank==1"><label>银行经理电话： </label>
			<span ng-bind="borrow.oldLoanBankManagerPhone"></span>
		</div>
		<div ng-if="borrow.isOldLoanBank==2" class="col-md-6 col-lg-4"> <label>&nbsp;</label></div>
		<div ng-class="{2 :'col-md-6 col-lg-4', 1 :'col-md-12 col-lg-12'}[borrow.isOldLoanBank]"><label>新贷款是否银行： </label>
			<span ng-if="borrow.isLoanBank == 1">是</span>
			<span ng-if="borrow.isLoanBank == 2">否</span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isLoanBank == 2"><label>新贷款地点：</label>
			<span ng-bind="borrow.loanBankName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isLoanBank == 1"><label>新贷款银行-支行：</label>
			<span ng-bind="borrow.loanBankName"></span>-<span ng-bind="borrow.loanSubBankName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isLoanBank == 1"><label>新贷款银行经理：</label>
			<span ng-bind="borrow.loanBankNameManager"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isLoanBank == 1"><label>银行经理电话： </label>
			<span ng-bind="borrow.loanBankNameManagerPhone"></span>
		</div>
		<div ng-if="borrow.isLoanBank == 2" class="col-md-6 col-lg-4"><label>&nbsp;</label></div>
		<div class="col-md-6 col-lg-4"><label>借款期限：</label>
			<span ng-bind="borrow.borrowingDays"></span>天
		</div>
		
		<div class="col-md-6 col-lg-4"><label>借款金额：</label>
			<span ng-bind="borrow.loanAmount"></span>万
		</div>
		
		<div class="col-md-6 col-lg-4"><label>风控等级：</label>
			<span ng-bind="borrow.riskGrade"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>费率：</label>
			<span ng-bind="borrow.rate"></span> 
			<span ng-if="borrow.modeid==1">%</span>
			<span ng-if="borrow.modeid!=1">%/天</span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>逾期费率：</label>
			<span ng-bind="borrow.overdueRate"></span>
			<span ng-if="borrow.modeid==1">%</span>
			<span ng-if="borrow.modeid!=1">%/天</span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>其他金额：</label>
			<span ng-bind="borrow.otherPoundage"></span>元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>关外手续费：</label>
			<span ng-bind="borrow.customsPoundage"></span>元
		</div>
		
		<div class="col-md-6 col-lg-4"><label>收费金额：</label>
			<span ng-bind="borrow.chargeMoney"></span>元 (其中包含:固定服务费+关外手续费+其他费用)
		</div>
		
		<div class="col-md-6 col-lg-4"><label>是否有返佣：</label>
			<span ng-if="borrow.isRebate == 1">是</span>
			<span ng-if="borrow.isRebate == 2">否</span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isRebate == 1"><label>返佣金额：</label>
			<span ng-bind="borrow.rebateMoney"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isRebate == 1"><label>返佣银行-支行：</label>
			<span ng-bind="borrow.rebateBank"></span>-<span ng-bind="borrow.rebateSubBank"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isRebate == 1"><label>返佣银行户名：</label>
			<span ng-bind="borrow.rebateBankCardName"></span>
		</div>
		
		<div class="col-md-6 col-lg-4" ng-if="borrow.isRebate == 1"><label>返佣银行卡号：</label>
			<span ng-bind="borrow.rebateBankCardNum"></span>
		</div>
		<div ng-if="borrow.productCode=='01'">
		<div class="col-md-12 col-lg-12"><label>是否一次性回款：</label>
			<span ng-if="borrow.isOnePay==1">是</span>
			<span ng-if="borrow.isOnePay==2">否</span>
		</div>
		<list ng-repeat="idea in borrow.orderReceivableForDto">
			<div class="col-md-6 col-lg-4" ng-if="borrow.isOnePay!='' && $index==0"><label>计划回款时间：</label>
				<span ng-bind="idea.payMentAmountDateStr"></span>
			</div>
			<div class="col-md-6 col-lg-4" ng-if="borrow.isOnePay!='' && $index==0"><label>回款金额：</label>
				<span ng-bind="idea.payMentAmount"></span>万元
			</div>
			
			<div class="col-md-6 col-lg-4" ng-if="borrow.isOnePay!='' && $index==0"><label>&nbsp;</label></div>
			
			<div class="col-md-6 col-lg-4" ng-if="borrow.isOnePay!='' && $index==1"><label>再次计划回款时间：</label>
				<span ng-bind="idea.payMentAmountDateStr"></span>
			</div>
			<div class="col-md-6 col-lg-4" ng-if="borrow.isOnePay!='' && $index==1"><label>再次回款金额：</label>
				<span ng-bind="idea.payMentAmount"></span>万元
			</div>
		</list>
		</div>
		<!-- <div class="col-md-12 col-lg-12">
			<label class="remark-span remark-lhw">备注：</label>
			<textarea ng-bind="borrow.remark" class="remark-p remark-lhw-p textarea-lhw" readonly="readonly" ></textarea>
		</div> -->
	</div>
	
	<!-- 畅贷 -->

<!-- 畅贷信息 start -->
<div ng-if="borrow.isChangLoan==1">
	<div class="col-md-12 detail-right-tit">&nbsp;&nbsp;关联订单信息
	</div>
<div class="row detail-row w145 form-inline">	
	<div ng-repeat="obj in borrow.orderBaseBorrowRelationDto">
		<div class="col-md-6 col-lg-4"><label>业务类型：</label>
			<span>畅贷</span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>借款期限：</label>
			<span ng-bind="obj.borrowingDays"></span>天
		</div>
		
		<div class="col-md-6 col-lg-4"><label>借款金额：</label>
			<span ng-bind="obj.loanAmount"></span>万
		</div>
		
		<div class="col-md-6 col-lg-4"><label>风控等级：</label>
			<span ng-bind="obj.riskGrade"></span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>费率：</label>
			<span ng-bind="obj.rate"></span>
			<span ng-if="obj.modeid==1">%</span>
			<span ng-if="obj.modeid!=1">%/天</span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>逾期费率：</label>
		 	<span ng-bind="obj.overdueRate"></span>
		 	<span ng-if="obj.modeid==1">%</span>
			<span ng-if="obj.modeid!=1">%/天</span>
		</div>
		
		<div class="col-md-6 col-lg-4"><label>其他金额:：</label>
			<span ng-bind="obj.otherPoundage"></span>元
		</div>
		
		<!-- <div class="col-md-6 col-lg-4"><label>关外手续费：</label>
			<input type="number" class="form-control" name="customsPoundage" min="0" oninput="if(value.length>8)value=value.slice(0,8)" ng-model="obj.customsPoundage" required >
			<span class="a-span">元</span>
			<span class="inputError" ng-show="isAudit">
				<error class="text-danger" ng-show="borrowForm.customsPoundage.$error.required">必填</error>
			</span>
		</div> -->
		
		<div class="col-md-6 col-lg-4"><label>收费金额：</label>
			<span ng-bind="obj.chargeMoney"></span>元(其中包含:固定服务费+其他费用)
		</div>
		<!-- <div class="col-md-12 col-lg-12">
			<label class="remark-span remark-lhw">备注：</label>
			<textarea ng-bind="obj.remark" class="remark-p remark-lhw-p textarea-lhw" readonly="readonly" ></textarea>
		</div> -->
	</div>
</div>
</div>

    
	<!-- 畅贷信息 end -->